:root {
  --background: black;
  --accent-color: #dacdfb;
  --body-color: #7952b3;
}

body {
  background-color: var(--background);
  color: var(--body-color);
  margin: 30px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
}

.word {
  text-align: left;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--accent-color);
  font-size: 17px;
  text-align: center;
  font-style: italic;
  color: white;
  width: 200px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

input:focus {
  color: var(--accent-color);
  border: none;
  border-bottom: 2px solid var(--accent-color);
  width: 90%;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--body-color);
  text-decoration: underline;
}

.audio {
  padding-left: 0;
  color: var(--body-color);
}

small a {
  color: var(--accent-color);
}

small {
  padding-left: 440px;
}

.icon {
  font-size: 18px;
}

.thesaurus {
  margin-right: 5px;
}
