:root {
  --background: black;
  --body: #dacdfb;
}

body {
  background-color: var(--background);
  color: #7952b3;
  margin: 30px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
}

.align-left {
  text-align: left;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--body);
  padding: 2px 200px;
  font-size: 17px;
  text-align: center;
  font-style: italic;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #7952b3;
  text-decoration: underline;
}

img {
  width: 50% !important;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}
