:root {
  --background: black;
  --accent-color: #dacdfb;
  --body-color: #7952b3;
}

body {
  background-color: var(--background);
  color: var(--body-color);
  margin: 30px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
}

.word {
  text-align: left;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid var(--accent-color);
  font-size: 17px;
  text-align: center;
  font-style: italic;
  color: white;
  width: 200px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

input:focus {
  color: var(--accent-color);
  border: none;
  border-bottom: 2px solid var(--accent-color);
  width: 90%;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--body-color);
  text-decoration: underline;
}

.audio {
  color: var(--body-color);
  padding: 2px 3px;
  margin-top: 2px;
}

.audio:hover {
  text-decoration: none;
  background-color: #212529;
  border-radius: 4px;
}

small a {
  color: var(--accent-color);
}

small {
  padding-left: 440px;
}

.search-icon {
  font-size: 18px;
}

.volume-icon {
  font-size: 14px;
}

.thesaurus {
  margin-right: 6px;
}

.img-row {
  margin: 10px 0 0;
}

.image {
  margin-bottom: 10px;
}

.img-radius {
  border-radius: 4px;
}

@media (max-width: 576px) {
  h1 {
    margin-top: 40px;
  }

  form {
    text-align: center;
  }

  small {
    padding-left: 230px;
  }

  .word {
    margin-top: -5px;
  }

  .Body {
    margin: 0 15px;
  }

  .img-card {
    margin: 15px;
  }

  input:focus {
    outline: none;
  }

  .search-icon {
    background: none;
    font-size: 12px;
  }
}
